@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #291A2C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: #FF847B; }

.btn {
  padding: 12px 25px;
  border-radius: 3px;
  transition: .4s ease-out; }
  .btn.primary {
    color: white;
    background-color: #FF847B; }
  .btn:hover, .btn.active {
    transition: .5s ease-out;
    background-color: #ff766c;
    /*box-shadow: 0 1px 1px rgba(183, 30, 19, .3);*/ }

input[type="text"] {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #DADADA;
  outline: 0; }

.styled-select {
  margin-left: 10px;
  border-radius: 3px;
  border-color: #DADADA;
  background: white;
  width: 240px;
  height: 39px;
  vertical-align: 2px; }

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px; }

.styled-select.slate select {
  font-size: 16px; }

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px; }

.hero {
  padding-top: 100px;
  flex: 2; }
  .hero .heading {
    display: flex;
    justify-content: center; }
    .hero .heading h1 {
      font-size: 100px;
      color: #FF847B;
      margin: 0 0 0 20px;
      letter-spacing: -5px;
      font-weight: normal; }
  .hero .subheading {
    font-size: 36px;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 300; }
    .hero .subheading span {
      margin-left: 20px; }
      .hero .subheading span.strong {
        color: #FF847B;
        font-weight: 400; }
  .hero svg {
    width: 100px; }
    .hero svg .ghost {
      animation: 1s ease-in-out infinite ghost;
      animation-direction: alternate-reverse; }

.action-button-wrapper {
  flex: 1; }

@keyframes ghost {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(0); } }

.wrapper {
  max-width: 1300px;
  margin: auto; }

nav {
  padding-top: 30px;
  display: flex;
  align-items: center; }
  nav svg {
    width: 40px;
    height: 60px; }
    nav svg .ghost {
      animation: 1s ease-in-out infinite ghost;
      animation-direction: alternate-reverse; }
  nav h1 {
    margin: 0 0 0 8px;
    color: #FF847B;
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: 400; }

.table {
  margin-top: 30px; }

.table-container {
  max-height: 250px;
  overflow-y: scroll; }

.form-group {
  padding: 10px;
  margin-bottom: 10px; }

.ng-hide {
  display: none; }

.form-container {
  width: 60%;
  margin: auto;
  text-align: center; }

/* =============================================================

    Tables v1.0
    Simple table styling by Chris Ferdinandi.
    http://gomakethings.com

    Adapted from Twitter Bootstrap.
    http://twitter.github.com/bootstrap/

    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0

 * ============================================================= */
/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0; }

@-moz-viewport {
  width: device-width;
  zoom: 1.0; }

@-ms-viewport {
  width: device-width;
  zoom: 1.0; }

@-o-viewport {
  width: device-width;
  zoom: 1.0; }

@viewport {
  width: device-width;
  zoom: 1.0; }

html {
  overflow-y: auto; }

img, audio, video, canvas {
  max-width: 100%; }

/*  Sets Body Width */
.container {
  max-width: 40em;
  width: 88%;
  margin-left: auto;
  margin-right: auto; }

/* =============================================================
    TABLES
    Table styling.
 * ============================================================= */
/*  Removes default browser settings
 *  and evens out inconsistencies. */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

/*  Sets table width to 100%.
 *  Adds bottom-margin. */
.table {
  width: 100%;
  margin-bottom: 1.52941em; }

/*  Adds table cell padding,
 *  aligns text to the left,
 *  and adds a top border to each cell. */
.table th,
.table td {
  padding: 0.47059em;
  text-align: left;
  border-top: 0.07143em solid #DADADA; }

/*  Sets table header font-weight to bold.
 *  Aligns table header text to the bottom of each cell. */
.table th {
  font-weight: bold;
  vertical-align: bottom; }

/*  Aligns cell text to the top of each cell. */
.table td {
  vertical-align: top; }

/*  Removes the border-top from the first row. */
.table thead:first-child tr th,
.table thead:first-child tr td {
  border-top: 0; }

/*  Adds border-top between two table-body sections. */
.table tbody + tbody {
  border-top: 0.14286em solid #DADADA; }

/*  Reduces cell padding */
.table-condensed th,
.table-condensed td {
  padding: 0.29412em; }

/* Adds borders and border-radius. */
.table-bordered {
  border: 0.07143em solid #DADADA;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 0.47059em; }

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 0.07143em solid #DADADA; }

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0; }

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: 0.47059em 0 0 0; }

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  border-radius: 0 0.47059em 0 0; }

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 0.47059em; }

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 0.47059em 0; }
